html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

li {
  display: list-item;
}

body {
  color: #333;
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 500;
  font-size: 5rem;
  margin: 2rem;
}

@media (max-width: 410px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 50%;
  }
}
